@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

*{
    margin: 0;
    padding: 0;
}
.container{
    background: url('finalbg.jpeg') no-repeat;
    background-size:100vw 100vh ;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
}

#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}
/* 
#hiscoreBox{
    position: absolute;
    top: 59px;
    right: 140px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
} */


#board{
    background: linear-gradient(rgb(187, 245, 187), rgb(198, 198, 131));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(15,1fr);
    grid-template-rows: repeat(15,1fr);
 
}
.head{
    background: linear-gradient(rgb(204, 106, 106), rgb(151, 151, 123));
    border: 2px solid rgb(34, 4, 34); 
    transform: scale(1.02);
    border-radius: 9px;
}
.food{
    background-color:rgb(66, 129, 66);
    border: .25vmin solid rgb(0, 0, 0);
    border-radius: 12px;
}
.snake{
    background-color: rgb(111, 6, 6);
    border: .25vmin solid white;
    border-radius: 12px;
}

